#page_footer {
    display: grid;
    grid-auto-flow: column;
    position: sticky;
    top: 100vh;
    margin-bottom: 60px;
    grid-template-columns: 1fr 0.25fr 0.25fr;
    place-items: center;
    height: 15vh;
    overflow-x: hidden;
    width: 100%;
    background-color: lightgray;

    >p {
        text-align: center;
        font-size: 0.65rem;
    }

    img {
        max-width: 30px;
    }
}

#reviews {
    display: grid;
    row-gap: 15px;
    font-size: small;

    a{
      text-decoration: none;
      color: black;
      margin-right: 20px;
      margin-left: 10px;

      &:hover {
          text-decoration: underline;
      }
    }    
}

@media only screen and (min-width: 650px) {
    #page_footer {
        >p {
            font-size: 1rem;
        }
    }

}

@media only screen and (min-width: 1024px) {
    
    #page_footer {
        margin-bottom: 0;
}
}