$bgcolor: #CCB6E7;
$fontcolor: black;
$bgthru: #CCB6E7ee;
$phonebuttonclr: #b78aee8c;
$hoverclr: #F9A252;
$secondary: #B14E4E;
$secondarythru: #be95c4ff;
$headingfont: 'Exo 2';

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,500&family=Oswald:wght@200;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}
p {
    font-family: Oswald;
}

img, iframe {
    max-width: 100%;
}
.image_hover {
    width: 100%;
    z-index: 7;
    position: relative;
    filter: grayscale(80%);
    transition: all 0.3S ease-in-out;
        
        &:hover {
            filter: grayscale(0%);
            transform: translateX(-5px) translateY(-5px);
             } 
}

.image_border {
    position: absolute;
    width:calc(100% - 3px);
    top: 0px;
    left: 0px;
    height: calc(100% - 3px);
    border: 1px solid black;
    z-index: 1;
    }



.border_wrapper {
    position: relative; 
}