// COLORS
// #EAE7DC
// #D8C3A5
// #8E8D8A
// #E98074
// #E85A4F

$bgcolor: #EABE7C;
$fontcolor:#DD6031;
$fontcolorthru: #DD6031aa;
$hoverclr: #311E10;
$secondary: #ECE4B7;
$secondarythru: #ECE4B7aa;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
p {
    font-family: Oswald;
}

img, iframe {
    max-width: 100%;
}

