$bgcolor: #9f86c0;
$fontcolor: black;
$bgthru: #be95c4ee;
$hoverclr: #e0b1cb;
$secondary: #be95c4;
$secondarythru: #be95c4ee;
$headingfont: 'Exo 2';
* {
    margin: 0;
    padding: 0;
    font-family: Oswald, sans-serif;
}
p {
    font-family: Oswald;
}

img, iframe {
    max-width: 100%;
}

