@import 'global';
@import 'header';
@import 'footer';

#page_container {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  grid-template-rows: 50px 50px;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  row-gap: 35px;
  background-color: white;
}

.card {

    display: grid;
    place-items: center;
    max-width: 75%;
    text-align: center;
    border-radius: 8px;
    
    img {
    margin-bottom: 10px;
    width: 100%;
    }

    p {
      margin-top: 5px;
      font-size: small;
      margin: 5px;
    }
}

#menu_links {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  place-items: center;

    >p {
      font-weight: 900;
      font-size: 1.75em;
    }
}

input {
    position: fixed;
    opacity: 0;
    width: 0;
  }
.last_card {
  height: 200px;
}

.food_menu {
  opacity: 0;
  display: grid;
  position: absolute;
  width: 100vw;
  top: -9999px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
  transition: opacity 0.5s ease-in-out;
}

// MENU "BUTTON" STYLING

#menu_links label {
    margin: 5px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Oswald, sans-serif;
    font-size: 1.25em;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $secondary;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-in-out 0.5s;
  }
  input[value="pizza"]:checked {
  
    ~#pizza_menu {
      opacity: 1;
      top: 75px;
  
    }
    ~#menu_links label[for="radioPizza"] {
      background-color: $secondary;
    }
}

#menu_referance {
  position: relative;
  display: grid;
  place-items: center;
}

input[value="pasta"]:checked {
     
  ~#pasta_menu {
      opacity: 1;
      top: 75px;
    }


    ~#menu_links label[for="radioPasta"] {
      background-color: $secondary;
    }    
}

input[value="drinks"]:checked {
  
  ~#drink_menu {
    opacity: 1;
    top: 75px;
  }

  ~#menu_links label[for="radioDrinks"] {
    background-color: $secondary;
  }

}

#radio_wrapper:hover label {
  text-decoration: underline;
  box-shadow: inset 400px 0 0 1px $secondary;
}

.last_card_tablet {
  display: none;
}

@media only screen and (min-width: 650px) {
 
  .last_card_tablet {
    display: inline;
    height: 200px;
  }
}