@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Tangerine:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Tangerine:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

p {
  font-family: Oswald;
}

img, iframe {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Oswald, sans-serif;
}

p {
  font-family: Oswald;
}

img, iframe {
  max-width: 100%;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
  position: fixed;
  right: 0;
  bottom: 0;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 60px;
  min-width: 100%;
  background-color: #DD6031;
  overflow-x: hidden;
  z-index: 11;
}

.header-grid img {
  width: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#logo {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  min-width: 100%;
  place-items: center;
  height: 35px;
  background-color: white;
  border-bottom: 1px solid #DD6031;
  color: black;
}

#logo img {
  width: 75px;
  margin-left: 2px;
  margin-top: 2px;
}

#logo p {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  margin-top: 2px;
}

#navbar {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

#info {
  display: -ms-grid;
  display: grid;
  row-gap: 2.5px;
  text-align: center;
}

#info > a {
  color: black;
  font-weight: 800;
  text-decoration: none;
  background-color: #DD6031;
  place-self: center;
  max-width: 125px;
  margin: 3px;
  padding-top: 2px;
  width: 50%;
  font-size: 13px;
  border-radius: 9px;
  height: 20px;
  -webkit-box-shadow: 1px 1px 4px 0px black;
          box-shadow: 1px 1px 4px 0px black;
}

#info > a:hover {
  background-color: #311E10;
}

#info p {
  font-size: 11px;
  color: black;
  font-weight: 700;
  text-align: center;
  margin-left: 10px;
}

#menubox input {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 13px;
  bottom: 12px;
  opacity: 0;
  z-index: 10;
}

#menubox input:checked ~ #menu {
  -webkit-transform: none;
          transform: none;
}

#hamburger span {
  display: block;
  position: relative;
  bottom: 15px;
  right: 20px;
  margin-bottom: 5px;
  width: 33px;
  height: 5px;
  background-color: black;
  z-index: 2;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transition: background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
}

#menu {
  display: -ms-grid;
  display: grid;
  position: fixed;
  row-gap: 10px;
  min-width: 100%;
  border-radius: 8px 8px 0px 0px;
  bottom: 60px;
  min-height: 25%;
  right: -1px;
  background-color: #DD6031;
  justify-items: center;
  z-index: 9;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  margin-top: 10px;
  z-index: 9;
}

#menu a:hover {
  text-decoration: underline;
}

#hamburger span:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menubox input:checked ~ #hamburger span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  background: black;
}

#menubox input:checked ~ #hamburger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menubox input:checked ~ #hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
          transform: rotate(-45deg) translate(-3px, 1px);
}

#desktop_header {
  display: none;
}

#page_footer {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  margin-bottom: 60px;
  -ms-grid-columns: 1fr 0.25fr 0.25fr;
      grid-template-columns: 1fr 0.25fr 0.25fr;
  place-items: center;
  height: 15vh;
  width: 100%;
  background-color: lightgray;
}

#page_footer > p {
  text-align: center;
  font-size: xx-small;
}

#page_footer img {
  max-width: 30px;
}

#reviews {
  display: -ms-grid;
  display: grid;
  row-gap: 15px;
  font-size: small;
}

#reviews a {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  margin-left: 10px;
}

#reviews a:hover {
  text-decoration: underline;
}

#page_container {
  display: -ms-grid;
  display: grid;
  position: relative;
  width: 100%;
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  row-gap: 35px;
  background-color: white;
}

.card {
  display: -ms-grid;
  display: grid;
  place-items: center;
  max-width: 75%;
  text-align: center;
  border-radius: 8px;
}

.card img {
  margin-bottom: 10px;
  width: 100%;
}

.card p {
  margin-top: 5px;
  font-size: small;
  margin: 5px;
}

#menu_links {
  display: -ms-grid;
  display: grid;
  position: relative;
  grid-auto-flow: column;
  place-items: center;
}

#menu_links > p {
  font-weight: 900;
  font-size: 1.75em;
}

input {
  position: fixed;
  opacity: 0;
  width: 0;
}

.last_card {
  height: 200px;
}

.food_menu {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  position: absolute;
  width: 100vw;
  top: -9999px;
  place-items: center;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 20px;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

#menu_links label {
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: Oswald, sans-serif;
  font-size: 1.25em;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #DD6031;
          box-shadow: inset 0 0 0 0 #DD6031;
  -webkit-transition: ease-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

input[value="pizza"]:checked ~ #pizza_menu {
  opacity: 1;
  top: 75px;
}

input[value="pizza"]:checked ~ #menu_links label[for="radioPizza"] {
  background-color: #DD6031;
}

#menu_referance {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

input[value="pasta"]:checked ~ #pasta_menu {
  opacity: 1;
  top: 75px;
}

input[value="pasta"]:checked ~ #menu_links label[for="radioPasta"] {
  background-color: #DD6031;
}

input[value="drinks"]:checked ~ #drink_menu {
  opacity: 1;
  top: 75px;
}

#radio_wrapper:hover label {
  text-decoration: underline;
  -webkit-box-shadow: inset 400px 0 0 1px #DD6031;
          box-shadow: inset 400px 0 0 1px #DD6031;
}

.last_card_tablet {
  display: none;
}

#price > p:nth-child(3) {
  position: absolute;
  left: -9999px;
}

#price_links label {
  margin: 5px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: Oswald, sans-serif;
  font-size: 1.25em;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 0 #DD6031;
          box-shadow: inset 0 0 0 0 #DD6031;
  -webkit-transition: ease-out 0.5s;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

#price_links label input[value="small"]:checked ~ #price:nth-child(3) {
  opacity: 1;
  left: 0px;
}

#price_referance {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
}

#price {
  display: -ms-grid;
  display: grid;
  position: absolute;
  grid-auto-flow: column;
  background-color: red;
}

@media only screen and (min-width: 650px) {
  .last_card_tablet {
    display: inline;
    height: 200px;
  }
}
/*# sourceMappingURL=menu.css.map */