@import 'global';
@import 'header';
@import 'footer';

#page_container {
  display: -ms-grid;
  display: grid;
  position: relative;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  row-gap: 35px;
  background-color: white;
}

#pizza_menu {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
}

.card {

    display: grid;
    place-items: center;
    border: 2px solid black;
    max-width: 95%;
    text-align: center;
    border-radius: 8px;
    background-color: lightblue;
    
    img {
    border-radius: 50%;
    margin-top: 10px;
    }
}

#menu_links {
  display: grid;
  position: relative;
  grid-auto-flow: column;
  place-items: center;

    >p {
      font-weight: 900;
      font-size: 1.75em;
    }
}
#radio_wrapper {
  width: 100px;
  height: 50px;
}
#pasta_menu {
  display: none;
}

#drink_menu {
 
  display: none;
}

input {
    position: fixed;
    opacity: 0;
    width: 0;
  }
// MENU "BUTTON" STYLING
.button_slide {
  color: #FFF;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 #D80286;
}

#outer {
  width: 364px;
  margin: 50px auto 0 auto;
  text-align: center;
}
#menu_links label {
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 20px;
    font-family: Oswald, sans-serif;
    font-size: 1.25em;
    box-shadow: inset 0 0 0 0 $secondary;
    -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;

  }
  input[value="pizza"]:checked {
  
    ~#pizza_menu {
    
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    }
    ~#pasta_menu {
      display: none;
    }
    ~#drink_menu {
      display: none;
    }
      
}


input[value="pasta"]:checked {
     
    ~#pasta_menu {
      
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    }
    ~#pizza_menu {
      display: none;
    }
    ~#drink_menu {
      display: none;
    }
      
}

input[value="drinks"]:checked {
  
  ~#drink_menu {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
  }

  ~#pasta_menu {
    display: none;
    
  }
  ~#pizza_menu {
    display: none;
  }
}

#radio_wrapper:hover label {
  text-decoration: underline;
  box-shadow: inset 400px 0 0 0 $secondary;

}