* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img, iframe {
  max-width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  overflow-x: hidden;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 75px;
  border-top: 1px solid black;
  min-width: 100%;
  background-color: #b8bab9;
  overflow-x: hidden;
}

.header-grid img {
  width: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#navbar {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

#menubox input {
  display: block;
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
}

#menubox input:checked ~ #menu {
  -webkit-transform: none;
          transform: none;
}

#hamburger span {
  display: block;
  position: relative;
  bottom: 20px;
  right: 5px;
  margin-bottom: 5px;
  width: 33px;
  height: 5px;
  background-color: #000000;
  z-index: 2;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu {
  display: -ms-grid;
  display: grid;
  position: absolute;
  border: 1px solid black;
  min-width: 99%;
  background-color: white;
  left: 0;
  bottom: 75px;
  text-align: center;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a {
  border: 1px solid black;
  font-size: 24px;
  text-decoration: none;
}

#hamburger span:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menubox input:checked ~ #hamburger span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(4px, -3px);
          transform: rotate(45deg) translate(4px, -3px);
  background: #232323;
}

#menubox input:checked ~ #hamburger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menubox input:checked ~ #hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-1px, 1px);
          transform: rotate(-45deg) translate(-1px, 1px);
}

#page_footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=style.css.map */