* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img, iframe {
  max-width: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: url(/images/mobilebackround.jpg);
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: end;
      align-self: end;
  position: fixed;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  height: 75px;
  border-top: 1px solid black;
  min-width: 100%;
  background-color: #b8bab9;
  overflow-x: hidden;
  opacity: 45%;
}

.header-grid img {
  width: 75px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#navbar {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

#phone {
  display: -ms-grid;
  display: grid;
  row-gap: 2.5px;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
  text-align: center;
  padding: 3px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #272727;
}

#phone a {
  color: whitesmoke;
  text-decoration: none;
}

#phone:hover {
  background-color: #686868;
}

#menubox input {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: 20px;
  opacity: 0;
  z-index: 10;
}

#menubox input:checked ~ #menu {
  -webkit-transform: none;
          transform: none;
}

#hamburger span {
  display: block;
  position: relative;
  bottom: 20px;
  right: 5px;
  margin-bottom: 5px;
  width: 33px;
  height: 5px;
  background-color: #000000;
  z-index: 2;
  -webkit-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
  -webkit-transition: background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease;
  transition: transform 0.5s ease-in-out, background 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
}

#menu {
  display: -ms-grid;
  display: grid;
  position: fixed;
  border: 1px solid black;
  min-width: 99%;
  bottom: 75px;
  right: 0px;
  background-color: white;
  text-align: center;
  z-index: 9;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

#menu a {
  border: 1px solid black;
  font-size: 24px;
  text-decoration: none;
}

#hamburger span:nth-child(1) {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#hamburger span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menubox input:checked ~ #hamburger span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(1px, -2px);
          transform: rotate(45deg) translate(1px, -2px);
  background: #232323;
}

#menubox input:checked ~ #hamburger span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menubox input:checked ~ #hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-3px, 1px);
          transform: rotate(-45deg) translate(-3px, 1px);
}

#desktop_header {
  display: none;
}

#page_footer {
  display: -ms-grid;
  display: grid;
  place-items: center;
}
/*# sourceMappingURL=style.css.map */