@import 'global';
@import 'header';
@import 'footer';


#page_container {
    display: grid;
    position: relative;
    place-items: center;
    grid-template-rows: repeat(1fr);
    grid-auto-rows: minmax(min-content, max-content);
    min-height: 100vh;
    overflow-x: hidden;
    row-gap: 15px;
    background-color: white;
}

#logo {
    display: grid;
    grid-auto-flow: column;
    min-width: 100%;
    place-items: center;
    height: 35px;
    background-color: $secondary;
    color: $fontcolor;

    img {
        width: 75px;
        margin-left: 2px;
        margin-top: 2px;
    }

    p {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        margin-top: 2px;

    }
}

#top_content {
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr;
    row-gap: 10px;

    img {
        width: 95%;
    }    
}

.order_now {


        padding-top: 10px;
        text-align: center;
        justify-self: center;
        height: 30px;
        font-family: Oswald;
        font-weight: 600;
        width: 95%;
        border-radius: 10px;
        background-color: $secondary;
        
    &:hover {
        background-color: $hoverclr;
    }

    a {
        text-decoration: none;
        color: $fontcolor;
    }
    
}

#awards {
    display: grid;
    place-items: center;
    text-align: center;
    color: $secondary;
    min-height: 50vh;
    max-width: 400px;
    background-image: url(/images/doeball.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;

    h1 {
        text-shadow: 3px 3px black;
        font-size: 28px;
        font-weight: 800;
    }


    h6 {
        color: black;
        align-self: start;
    }
}
#about_us {

    color: $fontcolor;
    text-align: left;
    margin-top: 5px;
    h1 {
        font-family: Brush Script MT;
        font-size: 2.5em;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    p {
        color: black;
        text-align: center;
        font-family: Trebuchet MS;
        margin-right: 2.5%;
    }
}

#floated {
    position: relative;
    float: left;
    width: 30%;
    margin-left: 3%;
    margin-right: 10px;
    left: -1px;
    top: 13px;

}
#line {
    place-self: center;
    background-color: $fontcolor;
    width: 85%;
    height: 2px;
    margin: 5px;
    opacity: 20%;
}
#spacer {
    height: 60px
}
