@import 'global';
@import 'header';
@import 'footer';


#page_container {
    display: grid;
    position: relative;
    grid-template-rows: 35px 1fr 1fr;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $bgcolor;
}

#logo {
    display: grid;
    grid-auto-flow: column;
    min-width: 100%;
    place-items: center;
    height: 35px;
    background-color: $eggshellthru;
    color: $fontcolor;

    img {
        width: 75px;
        margin-left: 2px;
        margin-top: 2px;
    }

    p {
        text-align: center;
        font-weight: 700;
        font-size: 14px;
        margin-top: 2px;

    }
}

#top_content {
    display: grid;
    justify-items: center;

    img {
        width: 95%;
    }

    a {
        text-decoration: none;
        color: $fontcolor;
        font-family: Oswald;
        font-weight: 600;
    }
}